@model IEnumerable<Classifieds.Web.Models.AdvertViewModel>

<div id="adverts" class="container-fluid content m-0 mt-3 pt-5 pl-2 pr-2 pb-2">

    <div class="table-responsive-sm">
        <table class="table w-100">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Detail.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Detail.Location)</th>
                    <th>@Html.DisplayNameFor(model => model.SubmittedDate)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>Approve</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ bool odd = true; }
                @foreach (var advert in Model)
                {
                    if (odd)
                    {
                        @Html.Raw("<tr class='odd-row'>")
                    }
                    else
                    {
                        @Html.Raw("<tr class='even-row'>")
                    }


                        @Html.Raw("<td class='text-capitalize  w-25'>")
                        @Html.ActionLink(advert.Detail.Title, "Detail", "Classifieds",
                            new { id = advert.ID }, new
                            {
                                @class = "modal-link",
                                @data_target = "#advert-detail-modal",
                                @data_toggle = "modal"
                            })
                        @Html.Raw("</td><td class='w-25'>")
                        @Html.DisplayFor(model => advert.Detail.Location)
                        @Html.Raw("</td><td class='w-25'>")
                        @Html.DisplayFor(model => advert.SubmittedDate)
                        @Html.Raw("</td><td class='w-25'>")
                        @Html.DisplayFor(model => advert.Status)
                        @Html.Raw("</td><td class=''>")
                        if (advert.Status == "APPROVED")
                    {
                        @Html.CheckBox("approve", true, new { @onchange = "UpdateStatus(" + @advert.ID + ",'Classifieds', this)" })
                    }
                    else
                    {
                        @Html.CheckBox("approve", false, new { @onchange = "UpdateStatus(" + @advert.ID + ",'Classifieds', this )" })
                        }
                        @Html.Raw("</td><td>");
                    @Html.Raw("<button type='button' class='close' " +
                    "onclick='DeleteAdvert()'><span>&times</span></button></td>")
                        @Html.Raw("</tr>")

                        odd = !odd;
                }
            </tbody>
        </table>
    </div>
</div>
