@model IEnumerable<Classifieds.Web.Models.CategoryViewModel>



<div id="categories" class="m-0">
    <div class="menu-icon w-100 pt-2">
        <img src="~/images/icons/ic_add_circle_outline_black_36dp.png"
             class="mr-3 float-right" id="add-menu" data-toggle="modal" />
    </div>

    <div class="content pt-5 pl-2 pr-2">
        @foreach (var category in Model)
        {
            <div class="clearfix mt-2">
                <img src="~/images/home/@category.Icon" class="mr-3 float-left" />
                <h5 class="pt-2">
                    @Html.ActionLink(category.Name, "Edit", "Category",new {id=@category.ID },
                   new {@class="edit-link text-capitalize" })    
                </h5>
            </div>
            @if (category.SubCategories.Count() > 0)
            {
                <div class="table-responsive-sm">
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => category.Name)</th>
                                <th>@Html.DisplayNameFor(model => category.Url)</th>
                                <th>@Html.DisplayNameFor(model => category.Label)</th>
                                <th>@Html.DisplayNameFor(model => category.Status)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ bool odd = true; }
                            @foreach (var subcat in category.SubCategories)
                            {
                                if (odd)
                                {@Html.Raw("<tr class='odd-row'>")
                            }
                            else
                            { @Html.Raw("<tr class='even-row'>")
                        }
                        @Html.Raw("<td class='text-capitalize  w-25'>")
                        @Html.ActionLink(subcat.Name, "Edit", "Category",new { id = subcat.ID },
                                new {@class="edit-link text-capitalize" })
                        @Html.Raw("</td><td class='w-25'>")
                        @Html.DisplayFor(model => subcat.Url)
                        @Html.Raw("</td><td class='w-25'>")
                        @Html.DisplayFor(model => subcat.Label)
                        @Html.Raw("</td><td class=''>")
                        @Html.CheckBoxFor(model => subcat.Status,
                            new { @onchange="UpdateStatus(" + subcat.ID + ", 'Category', this)" })
                        @Html.Raw("</td><td>");
                        @Html.Raw("<button type='button' class='close' " +
                              "onclick='DeleteMenu()'><span></span></button></td>")
                        @Html.Raw("</tr>")

                        odd = !odd;
                    }
                        </tbody>
                    </table>
                </div>
            }

        }
    </div>
</div>
