@model IEnumerable<Classifieds.Web.Models.MenuViewModel>



<div id="menus" class="m-0">
    <div class="menu-icon w-100 pt-2">
        <img src="~/images/icons/ic_add_circle_outline_black_36dp.png" 
             class="mr-3 float-right" id="add-menu" data-toggle="modal"/>
    </div>

<div class="content pt-5 pl-2 pr-2">
    @foreach (var menu in Model)
    {
        <div class="clearfix mt-2">
            <img src="~/images/icons/@menu.Icon" class="mr-3 float-left" />
            <h5 class="pt-2">
                <a href="/adpostm/menus/detail?id=@menu.ID"
                   class="dtl-link text-capitalize">@menu.Name</a>
            </h5>
            @Html.CheckBoxFor(model => menu.Admin,new { @class="float-right"
       })
        </div>
        @if(menu.SubMenus.Count() > 0)
        {
        <div class="table-responsive-sm">
            <table class="table w-100">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => menu.Name)</th>
                        <th>@Html.DisplayNameFor(model => menu.Url)</th>
                        <th>@Html.DisplayNameFor(model => menu.Label)</th>
                        <th>@Html.DisplayNameFor(model => menu.Admin)</th>
                        <th>@Html.DisplayNameFor(model => menu.Active)</th>
                    </tr>
                </thead>
                <tbody>
                    @{ bool odd = true; }
                    @foreach (var submenu in menu.SubMenus)
            {
                if (odd)
                {@Html.Raw("<tr class='odd-row'>")
    }
    else
    { @Html.Raw("<tr class='even-row'>")
}
        @Html.Raw("<td class='text-capitalize  w-25'>")
        @Html.ActionLink(submenu.Name, "action", "controller")
        @Html.Raw("</td><td class='w-25'>")
        @Html.DisplayFor(model => submenu.Url)
        @Html.Raw("</td><td class='w-25'>")
        @Html.DisplayFor(model => submenu.Label)
        @Html.Raw("</td><td class=''>")
        @Html.CheckBoxFor(model => submenu.Admin, new {
            @onchange = "UpdateAdmin(" + @menu.ID + ", 'Menu', this )"})
        @Html.Raw("</td><td class=''>")
        @Html.CheckBoxFor(model => submenu.Active)
        @Html.Raw("</td><td>");
        @Html.Raw("<button type='button' class='close' " +
         "onclick='DeleteMenu()'><span></span></button></td>")
        @Html.Raw("</tr>")

odd = !odd;
}
                </tbody>
            </table>
        </div>
        }
              
    }
    </div>
</div>
