@using Microsoft.AspNetCore.Http;
@using Classifieds.Web.Models;
@using Newtonsoft.Json;

@{
    IEnumerable<NotificationTypeViewModel> notificationTypes = new List<NotificationTypeViewModel>();
    IEnumerable<NotificationCategoryViewModel> notificationCategories = new List<NotificationCategoryViewModel>();

    if (ViewContext.HttpContext.Session.GetString("NotificationTypes") != null)
    {
        notificationTypes = JsonConvert.DeserializeObject<List<NotificationTypeViewModel>>
            (ViewContext.HttpContext.Session.GetString("NotificationTypes"));
    }
    if (ViewContext.HttpContext.Session.GetString("NotificationCategories") != null)
    {
        notificationCategories = JsonConvert.DeserializeObject<List<NotificationCategoryViewModel>>
            (ViewContext.HttpContext.Session.GetString("NotificationCategories"));
    }
}

<div id="favourites" class="container-fluid pl-0 m-2">
    <h3 class="pb-4">
        Preferences
    </h3>
    @foreach (var ncategory in notificationCategories)
    {
        <div class="card mt-3">
            <h5 class="card-header text-capitalize">@ncategory.Name</h5>
            <div class="card-body">
                <h5 class="card-title">@ncategory.Description</h5>
                <ul class="list-group list-group-flush">
                    @foreach (var ntype in notificationTypes)
                    {
                        <li class="list-group-item">
                            <p class="float-left">@ntype.Name</p>
                            <div class="custom-control custom-switch float-right">
                                @Html.Raw("<input type='checkbox' class='custom-control-input' id='n-" + ntype.Name + "'/>")
                                @Html.Raw("<label class='custom-control-label' for='n-" + ntype.Name + "'></label>")
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    <br />
    </div>
    