@model IEnumerable<Classifieds.Web.Models.UserViewModel>

<div id="users" class="container-fluid pl-0 m-2">
    <h3 class="pb-4">
        Users
    </h3>
    <div class="table-responsive-sm">
        <table class="table w-100">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.UserDetail.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Roles)</th>
                    <th>@Html.DisplayNameFor(model => model.UserDetail.MobileNo)</th>
                    <th>@Html.DisplayNameFor(model => model.LastLogin)</th>
                    <th>@Html.DisplayNameFor(model => model.RegDate)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ bool odd = true; }
                @foreach (var user in Model)
                {
                    if (odd)
                    {
                        @Html.Raw("<tr class='odd-row'>")
                    }
                    else
                    {
                        @Html.Raw("<tr class='even-row'>")
                    }


                    @Html.Raw("<td class='text-capitalize  w-25'>")
                    @Html.ActionLink(user.UserDetail.FirstName + user.UserDetail.LastName,
                              "Detail", "User",new {id = user.ID },new { @class="userDetailLink"})
                    @Html.Raw("</td><td class='w-25'>")
                    @Html.DisplayFor(model => user.Email)
                    @Html.Raw("</td><td class='w-25'>")
                    @Html.DisplayFor(model => user.RoleList)
                    @Html.Raw("</td><td class='w-25'>")

                    @Html.DisplayFor(model => user.UserDetail.MobileNo)

                    @Html.Raw("</td><td class=''>")
                    @Html.DisplayFor(model => user.LastLogin)
                    @Html.Raw("</td><td class=''>")
                    @Html.DisplayFor(model => user.RegDate)
                    @Html.Raw("</td><td>");
                    @Html.Raw("<button type='button' class='close' title='Delete'" +
                           "onclick='DeleteUser(" + user.ID + ")'><span>&times;</span>" +
                           "</button></td>")
                    @Html.Raw("</tr>")

                    odd = !odd;
                }
            </tbody>
        </table>
    </div>
</div>
