@model IEnumerable<Classifieds.Web.Models.AdvertViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="col-layout mt-5 clearfix">
    @foreach(var advert in Model)
    {
        <h5 class="text-capitalize text-center">
            @Html.ActionLink(advert.Detail.Title, "Detail", "Classifieds",
            new {id=advert.ID},new {@class="modal-link",
                @data_target= "#advert-detail-modal", @data_toggle="modal" })
        </h5>
        <div class="clearfix w-100 like">
            <p class="float-left font-weight-bold text-capitalize">@advert.Detail.Location</p>
            <input type="checkbox" id="@advert.ID" onchange="LikeAd(this, @advert.ID)"/>
            <label for="@advert.ID" class="float-right mr-4"></label>
        </div>
        <p>@advert.Detail.BodySubString</p>
        <hr />
    }
</div>