@model Classifieds.Web.Models.UserViewModel
@{
    ViewData["Title"] = "Index";
}

<div id="pg-login" class="container">

    @using (Html.BeginForm("Login", "Login", "", FormMethod.Post, true,
    htmlAttributes: new { @class = "form-horizontal text-center mt-5", @id = "login" })){
    @Html.AntiForgeryToken()
    <div class="form-group has-danger">
        @Html.LabelFor(Model => Model.Email)
        @Html.TextBoxFor(Model => Model.Email, "",
            htmlAttributes: new { @id = "email", @class = "rounded-box size-lg form-control" })
        @Html.ValidationMessageFor(Model => Model.Email, "",
                      htmlAttributes: new { @class = "form-control-danger" })
    </div>
    <div class="form-group has-danger">
        @Html.LabelFor(Model => Model.Password)
        @Html.PasswordFor(Model => Model.Password, new { @id = "password", @class= "rounded-box size-lg form-control" })
        @Html.ValidationMessageFor(Model => Model.Password, "",
                       htmlAttributes: new { @class = "form-control-danger" })
    </div>
    <div class="form-group">
        <button class="rounded-box size-lg">SUBMIT</button>
    </div>
    <div class="form-group ">
        @Html.ActionLink("Forgot Password?", "", "", "", new { @class = "pull-left" })
        @Html.ActionLink("Register", "", "", "", new { @class = "pull-right" })
    </div>
    }
</div>

