@model IEnumerable<Classifieds.Web.Models.MenuViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div id="pg-home" class="container">
    @{int colCount = 0; }
    @Html.Raw("<div class='row'>")
    @foreach (var menu in Model)
    {
        @if (colCount == 4)
        {
            @Html.Raw("<div class='row'>")
            colCount = 0;
        }
        colCount++;
    <div class="col-sm-3 col-xs-6 category mb-3">
        <div class="clearfix">
            <img src="~/images/home/@menu.Icon" class="float-left mr-2" width="45" height="45" />
            <h4 class="pt-2 pb-2 text-capitalize">
                @Html.ActionLink((String)menu.Name, "Category", "Classifieds", 
                        new { id = menu.ID})

            </h4>
        </div>
        @foreach (var subMenu in menu.SubMenus)
    {
            <!-- LinkText, ActionName, Controller, RouteValues, HtmlAttributes-->
        <p class="text-capitalize mb-1">@Html.ActionLink((String)subMenu.Name, "Category",
                                  "Classifieds", new {id = subMenu.ID})</p>

}
    </div>
        @if (colCount == 4)
        {
            @Html.Raw("</div>")
        }

     }

    </div>
